# Movie Review Sentiment Analysis

In [64]:
#define objective
#collect the data which is relavant project 
#import all required lib
#load the data 
#do exploratory data analysis
#data preprocessing-------------
#split data into train_test_split(80,20)-------------
#select the algo---------
#train model using data---------
#test the model-------
#check the accuracy (90%)--------
#Prediction or classification--------

# 1.Load Libraries

In [1]:
import numpy as np #numerical python
import pandas as pd #use to process the data
import matplotlib.pyplot as plt #visual

# 2.Loadind data

In [2]:
df1 = pd.read_csv('Data/moviereviews1.csv')
df2 = pd.read_csv('Data/moviereviews2.csv')
df=pd.concat([df1,df2])

In [5]:
df

     label                                             review
0      neg  how do films like mouse hunt get into theatres...
1      neg  some talented actresses are blessed with a dem...
2      pos  this has been an extraordinary year for austra...
3      pos  according to hollywood movies made in last few...
4      neg  my first press screening of 1998 and already i...
...    ...                                                ...
5995   pos  Of the three remakes of this plot, I like them...
5996   neg  Poor Whoopi Goldberg. Imagine her at a friend'...
5997   neg  Honestly before I watched this movie, I had he...
5998   pos  This movie is essentially shot on a hand held ...
5999   pos  It has singing. It has drama. It has comedy. I...

[8000 rows x 2 columns]

In [12]:
df[10:50]

   label                                             review
10   neg  upon first viewing of this movie , the phrases...
11   pos  with stars like sigourney weaver ( " alien " t...
12   neg   " the 13th warrior " comes at the end of as s...
13   neg  georges polti once wrote a paper called " the ...
14   neg  actually , i'm fairly sure the experience of h...
15   neg  here's a rarity : a children's film that attem...
16   pos  i remember hearing about this film when it fir...
17   neg  writer/director lawrence kasdan had a hand in ...
18   pos  garry shandling makes his long overdue starrin...
19   neg  one would think that david duchovny , star of ...
20   pos  robert benton has assembled a stellar , mature...
21   pos  seen august 8 , 1998 at 6 p . m . at rotterdam...
22   pos  'contact' shows why jodie foster is one of our...
23   pos  matthew broderick and high school comedy . \nt...
24   neg  i should have known , damn it , i should have ...
25   neg  an experience like baby geniuses can have cert...
26   neg  synopsis : cro-magnon ayla loses her mother to...
27   pos  trees lounge is the directoral debut from one ...
28   pos  this sunday afternoon i had the priviledge of ...
29   pos  a big surprise to me . \nthe good trailer had ...
30   neg  call it a road trip for the walking wounded . ...
31   pos  capsule : the director of cure brings a weird ...
32   pos  look back at all the times in your life when t...
33   pos  most people fit into two different categories ...
34   neg  it's difficult to expect much from a director ...
35   pos  there's more to a quilt than fabric and thread...
36   pos  let me first say that the conditions that i wa...
37   neg  note : some may consider portions of the follo...
38   neg  the first film produced by adam sandler's happ...
39   pos   " seven " is one of the best mystery movies i...
40   pos  just look back two years ago at the coen broth...
41   neg  by phil curtolo " madonna - antonio banderas -...
42   pos  tempe mills cinema , az--this movie had us in ...
43   pos  plot : a human space astronaut accidentally fa...
44   pos  did claus von bulow try to kill his wife sunny...
45   neg  barb wire , pamela anderson lee's first foray ...
46   neg  fantastically over hyped , godzila finally lum...
47   neg  one of the indicator of badness in film is the...
48   neg  capsule : godawful " comedy " that's amazingly...
49   neg  first troy beyer wrote the critically panned "...

# FETCH INFO about dataframe

In [14]:
df.info() #data type info

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 0 to 5999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   8000 non-null   object
 1   review  7945 non-null   object
dtypes: object(2)
memory usage: 187.5+ KB

In [8]:
df.describe() #stats

       label review
count   8000   7945
unique     2   7905
top      neg
freq    4000     27

In [62]:
count=df["label"].value_counts()

In [63]:
count

neg    3948
pos    3943
Name: label, dtype: int64

In [57]:
p= df.label

# Data Processing

In [16]:
df.isnull().sum()

label      0
review    55
dtype: int64

In [23]:
df.dropna(inplace=True) #removed all missing values

     label                                             review
0      neg  how do films like mouse hunt get into theatres...
1      neg  some talented actresses are blessed with a dem...
2      pos  this has been an extraordinary year for austra...
3      pos  according to hollywood movies made in last few...
4      neg  my first press screening of 1998 and already i...
...    ...                                                ...
5995   pos  Of the three remakes of this plot, I like them...
5996   neg  Poor Whoopi Goldberg. Imagine her at a friend'...
5997   neg  Honestly before I watched this movie, I had he...
5998   pos  This movie is essentially shot on a hand held ...
5999   pos  It has singing. It has drama. It has comedy. I...

[7945 rows x 2 columns]

In [20]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [24]:
df

     label                                             review
0      neg  how do films like mouse hunt get into theatres...
1      neg  some talented actresses are blessed with a dem...
2      pos  this has been an extraordinary year for austra...
3      pos  according to hollywood movies made in last few...
4      neg  my first press screening of 1998 and already i...
...    ...                                                ...
5995   pos  Of the three remakes of this plot, I like them...
5996   neg  Poor Whoopi Goldberg. Imagine her at a friend'...
5997   neg  Honestly before I watched this movie, I had he...
5998   pos  This movie is essentially shot on a hand held ...
5999   pos  It has singing. It has drama. It has comedy. I...

[7945 rows x 2 columns]

In [25]:
#remove blank strings
blanks = []
for i,lb,rv in df.itertuples():
    if type(rv)==str:
        if rv.isspace():
            blanks.append(i)

In [28]:
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [29]:
df.drop(blanks, inplace=True)

In [30]:
df

     label                                             review
0      neg  how do films like mouse hunt get into theatres...
1      neg  some talented actresses are blessed with a dem...
2      pos  this has been an extraordinary year for austra...
3      pos  according to hollywood movies made in last few...
4      neg  my first press screening of 1998 and already i...
...    ...                                                ...
5995   pos  Of the three remakes of this plot, I like them...
5996   neg  Poor Whoopi Goldberg. Imagine her at a friend'...
5997   neg  Honestly before I watched this movie, I had he...
5998   pos  This movie is essentially shot on a hand held ...
5999   pos  It has singing. It has drama. It has comedy. I...

[7891 rows x 2 columns]

# Input Train test Split

In [36]:
from sklearn.model_selection import train_test_split
X = df['review'] #independent var
y = df['label'] #dependent var
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [37]:
len(X_train)

7101

In [38]:
len(X_test)

790

# Training ML Model

In [39]:

#container that gives final estimator
from sklearn.pipeline import Pipeline

#converts all cat values into num vectors/Matrices
from sklearn.feature_extraction.text import TfidfVectorizer

#used for model selection in pipeline
from sklearn.feature_selection import SelectFromModel

#Ml algorithm- support vector machine 
from sklearn.svm import LinearSVC
 
# y=mx+c

# Linear SVC Model:
pipeline = Pipeline([('vectorizer', TfidfVectorizer(stop_words='english')),
                          ('feature_selector', SelectFromModel(LinearSVC())),
                     ('classifier', LinearSVC()),
])

In [40]:
#training your Ml model with dataframe specified for training
pipeline.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', TfidfVectorizer(stop_words='english')),
                ('feature_selector', SelectFromModel(estimator=LinearSVC())),
                ('classifier', LinearSVC())])

In [42]:
X_test #input for testing

5321    Time spent watching this film was time wasted....
5618    I was very excited about seeing this film, ant...
1796    I wasn't sure when I heard about this coming o...
1259    i have a soft spot in my heart for pure , amor...
1805    this well-conceived but ultra sugary coming-of...
                              ...
4779    The film is hugely enjoyable with a great cast...
1237    Wenders was great with Million $ Hotel.I don't...
169     The acting in the film is really well done hon...
1043    This reminded me of Spinal Tap, on a more seri...
2019    This movie is a great way for the series to fi...
Name: review, Length: 790, dtype: object

In [53]:
# Form a prediction set
top = pipeline.predict(X_test)

In [45]:
pipeline.score(X_test,y_test)

0.9253164556962026

#### write your own review

In [47]:
#try these
#movie I really wanted to love was terrible.I'm sure the producers had the best intentions, but the execution was lacking.
#this is a great movie
#this is not a great movie
#not a good movie


myreview = "movie I really wanted to love was terrible.I'm sure the producers had the best intentions, but the execution was lacking"

In [48]:
print(pipeline.predict([myreview]))

['neg']

# custom class it takes review as input and gives us final prediction

In [49]:
def review_classifier(review):
    result = pipeline.predict([review])
    return print("Output: ",result)

In [50]:
review =str(input("Type a Movie review to classify: "))
print("\n")
review_classifier(review)

Type a Movie review to classify: this is a great movie


Output:  ['pos']